/* Стили для темного режима */

body.dark-theme {
    background-color: #333; /* Фон в темном режиме */
    color: #fff; /* Цвет текста в темном режиме */
}

/* Дополнительные стили для элементов в темном режиме */
.dark-theme .navbar {
    background-color: #222;
    color: #fff;
}

/* Добавьте дополнительные стили для других элементов в темном режиме */
