/* Стили для светлого режима */

body.light-theme {
    background-color: #fff; /* Фон в светлом режиме */
    color: #333; /* Цвет текста в светлом режиме */
}

/* Дополнительные стили для элементов в светлом режиме */
.light-theme .navbar {
    background-color: #f8f8f8;
    color: #333;
}

/* Добавьте дополнительные стили для других элементов в светлом режиме */
