{% extends "base.html" %}
{% block content %}
{% load static %}

    <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="{{post.image.url}}" style="width: 100%; height: 120%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="bd-hero-text">
                        <span>Travel Trip & Camping</span>
                        <h2>Cdc Issues Health Alert Notice For Travelers To Usa From Hon</h2>
                        <ul>
                            <li class="b-time"><i class="icon_clock_alt"></i> 15th April, 2019</li>
                            <li><i class="icon_profile"></i> Kerry Jones</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="blog-details-text">
                        <div class="bd-title">
                            <p>Thinking about overseas adventure travel? Have you put any thought into the best places
                                to go when it comes to overseas adventure travel? Nepal is one of the most popular
                                places of all, when you visit this magical country you will have the best adventures
                                right there at your doorstep. Only overseas adventure travel in Nepal will give you
                                these kinds of opportunities so if this is not on your list of possible places to visit
                                yet then now is the time to put it on there!</p>
                            <p>In Nepal your overseas adventure travel is going to be fascinating. You will get to see
                                the Himalayan Mountains and experience all that the rich Nepalese culture has to offer.
                                They are an amazing people who have managed to hang on to their own culture and beliefs
                                longer than most other countries. When overseas adventure travel takes you to Nepal you
                                will have the chance to see all of the fantastic and one of a kind lakes and forests and
                                you can even spend days or weeks camping out in their forests with a specialized guide.
                                And the waterfalls in Nepal are to die for, you will never see anything more gorgeous in
                                your life as their waterfalls! This should be at the top of your overseas adventure
                                travel destination list for sure!</p>
                        </div>
                        <div class="bd-pic">
                            {% for image in post.extra_images.all %}
                            <div class="bp-item">
                                <img src="{{image.image.url}}" alt="">
                            </div>
                            {% endfor %}
                            <div class="bm-item">
                                <h4>Content</h4>
                                <p>{{post.content}} </p>
                            </div>
                        </div>
                        <div class="tag-share">
                            {% for category in post.category.all %}
                            <div class="tags">
                                <a href="#">{{category}}</a>

                            </div>
                            {% endfor %}
                            <div class="social-share">
                                <span>Share:</span>
                                <a href="{{site_contacts.facebook_link}}"><i class="fa fa-facebook"></i></a>
                                <a href="{{site_contacts.twiter_link}}"><i class="fa fa-twitter"></i></a>
                                <a href="{{site_contacts.instagram_link}}"><i class="fa fa-instagram"></i></a>
                                <a href="{{site_contacts.youtube_link}}"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                        <div class="comment-option">
                            <h4>{{post.comments.count}} Comments</h4>
                           

                            {% for comment in post.comments.all %}
                            <div class="single-comment-item second-comment ">
                                <div class="sc-author">
                                    <img src="{{coment.author.avatar.url}}" alt="">
                                </div>
                                <div class="sc-text">
                                    <span>{{comment.created}}</span>
                                    <h5>{{comment.author}}</h5>
                                    <p>{{comment.text}}</p>
                                    <a href="#" class="comment-btn">Like</a>
                                    <a href="#" class="comment-btn">Reply</a>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="leave-comment">
                            <h4>Leave A Comment</h4>
                            <form action="{% url 'comment_create' post_pk=post.pk %}" method="post" class="comment-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <textarea placeholder="Messages" name="text"></textarea>
                                        <button type="submit" class="site-btn">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Recommend Blog Section Begin -->
    <section class="recommend-blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Recommended</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'img/blog/blog-1.jpg ' %}">
                        <div class="bi-text">
                            <span class="b-tag">Travel Trip</span>
                            <h4><a href="#">Tremblant In Canada</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 15th April, 2019</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'img/blog/blog-2.jpg ' %}">
                        <div class="bi-text">
                            <span class="b-tag">Camping</span>
                            <h4><a href="#">Choosing A Static Caravan</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 15th April, 2019</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-item set-bg" data-setbg="{% static 'img/blog/blog-3.jpg' %}">
                        <div class="bi-text">
                            <span class="b-tag">Event</span>
                            <h4><a href="#">Copper Canyon</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 21th April, 2019</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recommend Blog Section End -->

{% endblock %}