{% extends "base.html" %}
{% block content %}    <!-- Header End -->

    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Our Rooms</h2>
                        <div class="bt-option">
                            <a href="{% url 'page' %}">Home</a>
                            <span>Rooms</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="room-details-item">
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                {% for image in room.images.all %}
                              <div class="carousel-item active">
                                
                                <img src="{{ image.room_image.url }}" class="d-block w-100" alt="...">
                              </div>
                              {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>                        <div class="rd-text">
                            <div class="rd-title">
                                <h3>{{room.category}}</h3>
                                <div class="rdt-right">
                                    {{rating}}
                                    <!-- <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star-half_alt"></i>
                                    </div> -->
                                    <a href="#">Booking Now</a>
                                </div>
                            </div>
                            <h2>{{room.price}}$<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>{{room.size}} ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>{{room.persons}}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Bed:</td>
                                        <td>{{room.bed}}</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>{{room.services}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="f-para">{{room.info}}</p>
        
                        </div>
                    </div>
               
                    {% for comment in comments %}
                    <div class="single-comment-item second-comment ">
                        <div class="sc-author">
                            <img src="{{comment.author.avatar.url}}" alt="">
                        </div>
                        <div class="sc-text">
                            <span>{{comment.created_at}}</span>
                            <h5>{{comment.author}}</h5>
                            <p>{{comment.text}}</p>
                            <a href="#" class="comment-btn">Like</a>
                            <a class="dropdown-item" href="{% url 'delete_comment' comment_pk=comment.pk %}">
                                <!-- Download SVG icon from http://tabler-icons.io/i/settings -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <path d="M4 7l16 0"></path>
                                  <path d="M10 11l0 6"></path>
                                  <path d="M14 11l0 6"></path>
                                  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                </svg>
                                Удалить комментарий
                              </a>
                            {% for subcomment in comment.sybcommnets.all %}
                                <div class="single-comment-item second-comment ">
                                <div class="sc-author">
                                    <img src="{{subcomment.author.avatar.url}}" alt="">
                                </div>
                                <div class="sc-text">
                                    <span>{{subcomment.parent.text}}</span>
                                    <span>{{subcomment.created_at}}</span>
                                    <h5>{{subcomment.author}}</h5>
                                    <p>{{subcomment.text}}</p>
                                    <a href="#" class="comment-btn">Like</a>
                                </div>

                            {% endfor %}
                            <form action="{% url 'answer_comment' comment_id=comment.pk %}" method="post" class="comment-form">
                                {% csrf_token %}                                    
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <textarea placeholder="Answer..." name="text"></textarea>
                                        <button type="submit" class="site-btn">Answer comment</button>
                                    </div>
                                </div>
                            </form>
                            
                           
                        </div>
                    </div>
                    {% endfor %}
                    <div class="review-add">
                        <h4>Add Review</h4>
                        <form action="{% url 'room_comment' room_pk=room.pk %}" method="post" class="ra-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div>
                                        <h5>You Rating:</h5>
                                        <!-- <div class="rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star-half_alt"></i>
                                        </div> -->
                                    </div>
                                    <input type="number" name="rating" max="5" min="1">
                                    <textarea placeholder="Your Review" name="text"></textarea>
                                    <button type="submit">Submit Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="room-booking">
                        <h3>Your Reservation</h3>
                        today-{{date}}
                        {% if messages %}
                            {% for message in messages %}
                            <h4>{{message}}</h4>
                            {% endfor %}
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="check-date">
                                <label for="date-in">Check In:</label>
                                <input type="text" class="date-input" id="date-in" name="check_in">
                                <i class="icon_calendar"></i>
                            </div>
                            <div  class="check-date">
                                <label for="date-out">Check Out:</label>
                                <input type="text" class="date-input" id="date-out" name="check_out">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="guest">Adults:</label>
                                <select id="guest" name="adult">
                                    {% for i in "123" %}
                                    <option value="{{i}}" name="adult">{{i}} Adults</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="select-option">
                                <label for="guest">Children:</label>
                                <select id="guest" name="children">
                                    {% for i in "0123" %}
                                    <option value="{{i}}" name="children">{{i}} Children</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {{form.check_in.errors}}
                            <button type="submit">Check Availability</button>
                        </form>
                        price -{{room_price}}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Room Details Section End -->

    <!-- Footer Section Begin -->
    
{% endblock %}